*/.DS_Store
.DS_Store
.DS_Store?
.haxelib/
libs/
lib/
.vs/
APIStuff.hx
dump/
export/
RECOVER_*.fla
shitAudio/
.build_time
*.swp
.idea/
oxipng.exe

# Exclude JS stuff
node_modules/
package.json
package-lock.json
.aider*
